body{

    background-color: #F4F5F7;
}

#parte1 {
    position: relative;
    background-color: aquamarine;
    top: 1500px;
}

#color {
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 160px;
    top: 280px;
    color: #243ECB;

}

#normal{
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 160px;
    top: 200px;

}

img {
    position: absolute;
    right: 250px;
    top: 40px;
    width: 600px;
    height: auto;


}


nav {
    position: absolute;
    left: 600px;
    top: 30px;
    font-family: 'Inter', sans-serif;
}

details {
    position: absolute;
    display: inline;
    left: 1230px;
    top: 30px;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.menu {
    position: relative;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-family: 'Inter', sans-serif ;
    
}

.boton {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    background-color: #37b4f3;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    left: 200px;
    top: 500px;
    color: black;

}

.menu-fondo {
    border-radius: 10px;
    position:relative;
    padding: 5px 5px;
    background-color: white;
}

.Con {
    position: relative;
    padding: 10px 10px;
    font-size: 15px;
    font-family: 'Inter', sans-serif ;
    border-radius: 2px;

}

.Con:hover {
    position: relative;
    background-color:#F8FAFD;
}

.menu:hover {
    color: rgb(192, 192, 192);
}

